<a ui-sref="newMovie" class="btn-primary btn-lg">Add New Movie</a>

<table class="table movietable">
    <tr>
        <td><h3>Movies</h3></td>
        <td></td>
    </tr>
    <tr ng-repeat="movie in movies">
        <td>{{movie.title}}</td>
        <td>
            <table class="table">
                <tr>
                    <td><h3>Details for {{movie.title}}</h3></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Movie Title</td>
                    <td>{{movie.title}}</td>
                </tr>
                <tr>
                    <td>Director</td>
                    <td>{{movie.director}}</td>
                </tr>
                <tr>
                    <td>Release Year</td>
                    <td>{{movie.releaseYear}}</td>
                </tr>
                <tr>
                    <td>Movie Genre</td>
                    <td>{{movie.genre}}</td>
                </tr>
            </table>
        </td>
    </tr>
</table>